@import '~assets/common/css/fonts/alike-font.scss';
@import '~assets/common/css/fonts/font-size.scss';

@font-face {
    font-family: crash-font;
    src: url(/crash-bandicoot/fonts/crash-font.ttf);
}
.crash-font {
    font-family: crash-font;
}
