div[id="series-information"] {
}

div[id="outer-frame"] {
    background-color: #ccf7ff;
    text-align: left;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    max-width: 60rem;
}
